{% extends 'base.html' %} {% block title %} Adicionar Espécie {% endblock %} {% load crispy_forms_tags %} {% block content %}

<div class="offset-1 col-10">
    <h1>Adicionar nova Espécie:</h1>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="col-md-5">
            {{form.cod_especie_exame|as_crispy_field}} {{form.descricao_especie|as_crispy_field}} {{form.cod_natureza_exame|as_crispy_field}} {{form.sigla|as_crispy_field}}
        </div>
        <button type="submit" class="btn btn-success"><i class="bi bi-upload"></i> Enviar </button>
    </form>
</div>
{% endblock %}