{% extends 'base.html' %} {% block title %} Lista de Especies {% endblock %} {% block content %}

<div class="offset-1 col-10 list-div">
    <h1>Lista de Especies</h1>
    <div class="col-2 add-div">
        <i class="bi bi-plus-square"></i> Nova Especie
    </div>

    <div class="col-9 search-div form">
        <input type="text" id="search" name="search" placeholder="Nome da Especie" size="80px">
        <i id="teste" class="bi bi-search"></i>
    </div>

    <div id="div_table">
        <table class="table table-striped">
            <tr>
                <th>Codigo Especie</th>
                <th>Descrição</th>
                <th>Codigo Natureza</th>
                <th>Sigla</th>
                <th id="edit_col">Editar</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{ result.cod_especie_exame }}</td>
                <td>{{ result.descricao_especie }}</td>
                <td>{{ result.cod_natureza_exame }}</td>
                <td>{{ result.sigla}}</td>
                <td id="edit_col"><i class="bi bi-pencil-square"></i></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}