{% extends 'base.html' %} {% block title %} Create de Unidade de Requisitante {% endblock %} {% load crispy_forms_tags %} {% block content %}

<div class="offset-1 col-10">
    <h1>Adicionar nova Unidade de Requisitante:</h1>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="col-md-5">
            {{form.cod_unidade_requisitante|as_crispy_field}} {{form.unidade|as_crispy_field}} {{form.tipo_unidade|as_crispy_field}} {{form.subordinacao|as_crispy_field}} {{form.geocodigo|as_crispy_field}}
        </div>
        <button type="submit" class="btn btn-success"><i class="bi bi-upload"></i> Enviar </button>
    </form>
</div>
{% endblock %}