{% extends 'base.html' %} {% block title %} Lista de Unidades Requisitantes {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1 id='name' style="text-align:center">Lista de Unidades Requisitantes</h1>

    <a id="add-link" href="novaUnires/">
        <div class="col-3 add-div">
            <i class="bi bi-plus-square"></i> Nova Unidade Requisitante
        </div>
    </a>
    <div class="col-8 search-div">
        <form method="get" id='search-form'>
            <input type="text" id="search" name="search" placeholder="Município" size="80px" value="{{request.GET.search}}">
            <i id="search-btn" class=" bi bi-search "></i>
        </form>
    </div>

    <div id="div_table">
        <table id='Table_Data' class="table table-striped ">
            <thead>
                <tr>
                    <th>Codigo da Unidade</th>
                    <th>Unidade</th>
                    <th>Tipo da Unidade</th>
                    <th>Subordinação</th>
                    <th>Município</th>
                    <th>Geocodigo</th>
                    <th id="edit_col ">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for result in data %}
                <tr>
                    <td>{{ result.cod_unidade_requisitante }}</td>
                    <td>{{ result.unidade }}</td>
                    <td>{{ result.tipo_unidade }}</td>
                    <td>{{ result.subordinacao }}</td>
                    <td>{{ result.municipio }}</td>
                    <td>{{ result.geocodigo }}</td>
                    <td id="edit_col ">
                        <a href="{% url 'unires-update' result.cod_unidade_requisitante %} " class="btn edit-link ">
                            <i class="bi bi-pencil-square "></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button class='btn btn-success' id='downloadcsv'>CSV <i class="bi bi-file-earmark-arrow-down-fill"></i></button>
</div>
<script>
    $(document).ready(function() {
        $('#Table_Data').DataTable({
            dom: '<"top row" l>rt<"bottom row"<"col-4" B><"info col-4" i><"col-4" p>><"clear">',
            buttons: [
                'copy', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
{% endblock %}