.container-fluid {
    padding: 0px !important;
}


/*Navbar*/

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
    padding-left: 10px;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}


/*Icones*/

.bi.bi-pencil-square {
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
}

.bi.bi-linkedin,
.bi.bi-github {
    color: rgb(100, 100, 100) !important;
    cursor: pointer;
    margin: 5px;
    font-size: 25px;
}

.bi.bi-linkedin:hover {
    color: #0e76a8 !important;
}

.bi.bi-github:hover {
    color: rgb(0, 0, 0) !important;
}


/*Botão adicionar*/

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin-right: 25px;
    vertical-align: middle;
}

.bi.bi-plus-square {
    color: white;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 22px;
}

#add-link {
    text-decoration: none;
}


/*Search*/

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.bi.bi-search {
    top: 12px;
    right: 26px;
    cursor: pointer;
}


/*Tabelas*/

.list-div {
    padding: 0;
}

#edit_col {
    text-align: center;
}

th {
    vertical-align: middle;
}

#div_table {
    overflow: auto;
    height: 460px;
}