/* DataTable botões */

.dataTables_info {
    float: left !important;
    width: 100%;
}

label {
    display: inline-flex;
}

.custom-select {
    margin: auto 5px;
}

.info {
    text-align: center !important;
}

.dataTables_length {
    width: 100%;
    margin-top: 10px;
}

.dt-buttons {
    margin-top: 0.5em;
}

.btn-secondary {
    background-color: #198754 !important;
    border-color: #10422a !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: transparent;
    border: 0px;
    padding: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent;
    border: 0px;
}

.container-fluid {
    padding: 0px !important;
}

.col-9 {
    width: auto !important;
}


/*Navbar*/

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
    padding-left: 10px;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}


/*Icones*/

.bi.bi-pencil-square {
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
}

.bi.bi-linkedin,
.bi.bi-github {
    color: rgb(100, 100, 100) !important;
    cursor: pointer;
    margin: 5px;
    font-size: 25px;
}

.bi.bi-linkedin:hover {
    color: #0e76a8 !important;
    transition: color 1s ease-out;
}

.bi.bi-github:hover {
    color: rgb(0, 0, 0) !important;
    transition: color 1s ease-out;
}


/*Botão adicionar*/

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin-right: 25px;
    vertical-align: middle;
}

.bi.bi-plus-square {
    color: white;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 22px;
}

#add-link {
    text-decoration: none;
    vertical-align: middle !important;
}


/*Search*/

#search-btn {
    background: rgb(100, 100, 100);
    color: #FFF;
    padding: 4px 10px;
    border-radius: 8px;
    text-decoration: none;
}

#search-btn:hover {
    background: #333;
}

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.bi.bi-search {
    top: 12px;
    right: 26px;
    cursor: pointer;
}


/*Tabelas*/

.list-div {
    padding: 0;
}

#edit_col {
    text-align: center;
}

th {
    vertical-align: middle;
}


/* CSV Download */

#downloadcsv {
    margin-top: 15px;
}


/* gráficos de columas */

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#coluna {
    height: 750px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}