{% extends 'base.html' %} {% block title %} Create de Perito {% endblock %} {% load crispy_forms_tags %} {% block content %}

<div class="offset-1 col-10">
    <h1>Adicionar novo Perito:</h1>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="col-md-5">
            {{form.masp|as_crispy_field}} {{form.nome_perito|as_crispy_field}}
        </div>
        <button type="submit" class="btn btn-success"><i class="bi bi-upload"></i> Enviar </button>
    </form>
</div>
{% endblock %}