{% extends 'base.html' %} {% block title %} Lista de Peritos {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Lista de Peritos</h1>
    <div class="col-2 add-div">
        <i class="bi bi-plus-square"></i> Novo Perito
    </div>
    <div class="col-9 search-div">
        <input type="text" id="search" name="search" placeholder="Nome do Perito">
        <i class="bi bi-search"></i>
    </div>
</div>


<table class="table">
    <tr>
        <th>MASP</th>
        <th>Nome do Perito</th>
    </tr>
    {% for result in data %}
    <tr>
        <td>{{ result.masp }}</td>
        <td>{{ result.nome_perito }}</td>
        <td><i class="bi bi-pencil-square"></i></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}