{% extends 'base.html' %} {% block title %} Lista de Peritos {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Lista de Peritos</h1>
    <a id="add-link" href="novoPerito/">
        <div class="col-2 add-div">
            <i class="bi bi-plus-square"></i> Novo Perito
        </div>
    </a>
    <div class="col-9 search-div">
        <form method="get" id='search-form'>
            <input type="text" id="search" name="search" placeholder="Nome do Perito" size="80px" value="{{ request.GET.search}}">
            <i class=" bi bi-search "></i>
        </form>
    </div>


    <div id="div_table">
        <table class="table table-striped ">
            <tr>
                <th>MASP</th>
                <th>Nome do Perito</th>
                <th id="edit_col ">Editar</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{ result.masp }}</td>
                <td>{{ result.nome_perito }}</td>
                <td id="edit_col ">
                    <a href="{% url 'perito-update' result.masp %} " class="btn edit-link ">
                        <i class="bi bi-pencil-square "></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}