{% extends 'base.html' %} {% block title %} Relatorio {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1 id='name'>Relatório de Laudos</h1>
    <br>
    <div id="container" style="width: 75%;">
        <canvas id="uniexa-chart" data-url="{% url 'uni-chart' %}"></canvas>
    </div>
</div>

<script>
    $(function() {

        var $uniexaChart = $("#uniexa-chart");
        $.ajax({
            url: $uniexaChart.data("url"),
            success: function(data) {

                var ctx = $uniexaChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Qtde de Registros',
                            backgroundColor: '#0b6e4f',
                            data: data.data
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Gráfico de Unidade de Exame'
                        }
                    }
                });

            }
        });

    });
</script>

{% endblock %}