{% extends 'base.html' %} {% block title %} Relatorio {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1 id='name' style="text-align: center">Relatório de Unidades de Exames</h1>
    <br>
    <div id="container" style="width: 50%;">
        <canvas id="unidadex-chart" data-url="{% url 'unidadex-chart' %}"></canvas>
    </div>
</div>

<script>
    $(function() {
        var $unidadexChart = $("#unidadex-chart");
        $.ajax({
            url: $unidadexChart.data("url"),
            success: function(data) {
                var ctx = $unidadexChart[0].getContext("2d");
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Qtde de Registros',
                            backgroundColor: '#0b6e4f',
                            data: data.data
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Gráfico de Unidade de Exame'
                        }
                    }
                });
            }
        });
    });
</script>

{% endblock %}