{% extends 'base.html' %} {% block title %} Laudos {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1 class="offset-3" id='name'>Relatório Dinâmico</h1>

    <form class="offset-2" method="get" id='search-form'>

        <h5>Filtros</h5>

        <div class="form-group row ">
            <div class="form-group col-4">
                <label for="dataini">
                            Data de Início
                        </label>
                <input type="date" id="dataini" name="dataini" class="form-control" placeholder="Data de início" value="{{request.GET.dataini}}">
            </div>
            <div class="form-group col-4">
                <label for="datafim">
                            Data de Fim
                        </label>
                <input type="date" id="datafim" name="datafim" class="form-control" placeholder="Data de fim" value="{{request.GET.datafim}}">
            </div>
        </div>

        <div class="form-group col-8">
            <label for="natu">
                        Natureza de Exame
                    </label>
            <input type="text" id="natu" name="natu" class="form-control" placeholder="Natureza do exame" value="{{request.GET.natu}}" />
        </div>

        <div class="form-group col-8">
            <label for="espe">
                        Espécie de Exame
                    </label>
            <input type="text" id="espe" name="espe" class="form-control" placeholder="Espécie do exame" value="{{request.GET.espe}}" />
        </div>

        <div class="form-group col-8">
            <label for="masp">
                        MASP do perito
                    </label>
            <input type="text" id="masp" name="masp" class="form-control" placeholder="MASP do Perito" value="{{request.GET.masp}}">
        </div>


        <button type="submit" class="btn btn-secondary" style="margin-top: 10px; margin-bottom: 30px;"><i class="bi bi-search "></i></button>
    </form>


    <div id="div_table" class="table-responsive">
        <table id='table' class="table table-striped ">
            <tr>
                <th>Nº de Requisição</th>
                <th>Natureza</th>
                <th>Ciência da Natureza</th>
                <th>Espécie</th>
                <th>Unidade Requisitante</th>
                <th>Unidade de Exame</th>
                <th>MASP</th>
                <th>Tipo da Requisição</th>
                <th>Nº de Procedimento</th>
                <th>Modelo do Laudo</th>
                <th>Data de Requisição de Perícia</th>
                <th>Data de Distribuição da Requisição</th>
                <th>Data de Redistribuição</th>
                <th>Data de Devolução da Requisição</th>
                <th>Data de Aceite da Requisição</th>
                <th>Data de expedição do Laudo</th>
                <th>Tempo de Confecção do Laudo</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{ result.nmr_requisicao }}</td>
                <td>{{ result.cod_natureza_exame}}</td>
                <td>{{ result.cod_natureza_exame.ciencia}}</td>
                <td>{{ result.cod_especie_exame}}</td>
                <td>{{ result.cod_unidade_requisitante}}</td>
                <td>{{ result.cod_unidade_exame}}</td>
                <td>{{ result.masp_perito}}</td>
                <td>{{ result.tipo_requisicao}}</td>
                <td>{{ result.nmr_procedimento}}</td>
                <td>{{ result.cod_modelo_laudo}}</td>
                <td>{{ result.data_requisicao_pericia|date:"d/m/Y H:i"}}</td>
                <td>{{ result.data_distribuicao_requisicao|date:"d/m/Y H:i"}}</td>
                <td>{{ result.data_redistribuicao|date:"d/m/Y H:i"}}</td>
                <td>{{ result.data_devolucao_requisicao|date:"d/m/Y H:i"}}</td>
                <td>{{ result.data_aceite_requisicao|date:"d/m/Y H:i"}}</td>
                <td>{{ result.data_expedicao_laudo|date:"d/m/Y H:i"}}</td>
                <td>{{ result.tempo_confeccao_laudo}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button class='btn btn-success' id='downloadcsv'>CSV <i class="bi bi-file-earmark-arrow-down-fill"></i></button>
</div>
{% endblock %}