{% extends 'base.html' %} {% block title %} Relatorio {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1 id='name' style="text-align: center">Relatório de Espécies de Exame</h1>
    <br>
    <form method="get" id='search-form'>
        <div class="row offset-1">
            <div class="col-2">
                <label for="dataini">Data de início </label>
                <input type="date" class="form-control" id="dataini" name="dataini" placeholder="Data de início" value="{{request.GET.dataini}}">
            </div>
            <div class="col-2">
                <label for="datafim">Data de fim </label>
                <input type="date" class="form-control" id="datafim" name="datafim" placeholder="Data de fim" value="{{request.GET.datafim}}">
            </div>
            <div class="col-8" style="margin-top: 25px;">
                <label class="form-check-label" for="all">Todos </label>
                <input type="radio" class="form-check-input" value='All' id="all" checked="checked" name='Qtde' onclick="Checkradiobutton()">
                <label class="form-check-label" for="ten" style="margin-left: 25px;">Top 10 </label>
                <input type="radio" class="form-check-input" value='Ten' id="ten" name='Qtde' onclick="Checkradiobutton()">
                <label class="form-check-label" for="other" style="margin-left: 25px;">Uma Espécie </label>
                <input type="radio" class="form-check-input" name="Qtde" id="other" value="Other" onclick="Checkradiobutton()" />
                <input type="text" id="uma" placeholder="Código da Espécie" name="uma" disabled='true' style="margin-left: 15px;" />
                <i id="search-btn" class="bi bi-search " style="margin-left: 25px;"></i>
            </div>
        </div>
    </form>
    <br>
    <div id="container" style="width: 100%;">
        <canvas id="especie-chart"></canvas>
    </div>
</div>

<script>
    console.log(jQuery.parseJSON('{{labels|safe}}'))
    labels = jQuery.parseJSON('{{labels|safe}}')
    console.log(labels)
    data = jQuery.parseJSON('{{data|safe}}')
    var ctx = document.getElementById("especie-chart");
    var naturezaChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Qtde de Registros',
                backgroundColor: '#3d3b8e',
                data: data
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Gráfico de Unidade de Exame'
            }
        }
    });

    function Checkradiobutton() {
        if (document.getElementById('all').checked || document.getElementById('ten').checked) {

            document.getElementById('uma').disabled = true;
        } else {
            document.getElementById('uma').disabled = false;
        }
    }
</script>

{% endblock %}