{% extends 'base.html' %} {% block title %} Laudos {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1 id='name' style="text-align:center">Relatório Dinâmico</h1>
    <div class="row" style="margin-top: 10px; margin-bottom: 30px;">
        <div class="col-8">
            <form method="get" id='search-form'>

                <h4>Filtros</h4>

                <div class="form-group row " style="margin-top: 20px;">
                    <div class="form-group row">
                        <div class="form-group col-3">
                            <h5>Data de Requisição</h5>
                        </div>
                        <div class="form-group col-4">
                            <input class="form-check-input" type="radio" value='requisicao' id="req" checked="true" name='tipodata' onclick="Checkradiobutton()">
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label for="dataini">
                            Data de Início
                        </label>
                        <input type="date" id="datainireq" name="datainireq" class="form-control" placeholder="Data de início" value="{{request.GET.datainireq}}">
                    </div>
                    <div class="form-group col-4">
                        <label for="datafim">
                            Data de Fim
                        </label>
                        <input type="date" id="datafimreq" name="datafimreq" class="form-control" placeholder="Data de fim" value="{{request.GET.datafimreq}}">
                    </div>
                </div>

                <div class="form-group row " style="margin-top: 10px;">

                    <div class="form-group row">
                        <div class="form-group col-3">
                            <h5>Data de Expedição</h5>
                        </div>
                        <div class="form-group col-4">
                            <input class="form-check-input" type="radio" value='expedicao' id="exp" name='tipodata' onclick="Checkradiobutton()">
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label for="dataini">
                            Data de Início
                        </label>
                        <input type="date" id="datainiexp" name="datainiexp" class="form-control" placeholder="Data de início" disabled='true' value="{{request.GET.datainiexp}}">
                    </div>
                    <div class="form-group col-4">
                        <label for="datafim">
                            Data de Fim
                        </label>
                        <input type="date" id="datafimexp" name="datafimexp" class="form-control" placeholder="Data de fim" disabled='true' value="{{request.GET.datafimexp}}">
                    </div>
                </div>

                <div class="form-group row" style="margin-top: 20px;">
                    <div class="form-group col-4">
                        <label for="natu">
                            Código da Natureza
                        </label>
                        <input type="text" id="codnatu" name="codnatu" class="form-control" placeholder="Código da Natureza do exame" value="{{request.GET.codnatu}}">
                    </div>
                    <div class="form-group col-4">
                        <label for="natu">
                            Natureza de Exame
                        </label>
                        <input type="text" id="natu" name="natu" class="form-control" placeholder="Descrição da Natureza do exame" value="{{request.GET.natu}}" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-group col-3">
                        <label for="espe">Código da Espécie</label>
                        <input type="text" id="codespe" name="codespe" class="form-control" placeholder="Código da Espécie do exame" value="{{request.GET.codespe}}" />
                    </div>
                    <div class="form-group col-2">
                        <label for="classespe">Classificação</label>
                        <select class="form-control js-example-basic-single" name="classespe" id="natureza">
                            <option value="">Selecione uma classificação</option>
                            <option value="DI">DI</option>
                            <option value="DEU">DEU</option>
                            <option value="DEA">DEA</option>
                        </select>
                    </div>
                    <div class="form-group col-3">
                        <label for="espe">Espécie de Exame</label>
                        <input type="text" id="espe" name="espe" class="form-control" placeholder="Descrição da Espécie do exame" value="{{request.GET.espe}}" />
                    </div>
                </div>

                <div class="form-group col-8">
                    <label for="masp">MASP do perito</label>
                    <input type="text" id="masp" name="masp" class="form-control" placeholder="MASP do Perito" value="{{request.GET.masp}}">
                </div>

                <div class="form-group col-8">
                    <label for="depunires">Departamento da Unidade Requisitante</label>
                    <input type="text" id="depunires" name="depunires" class="form-control" placeholder="Departamento da Unidade Requisitante" value="{{request.GET.depunires}}">
                </div>

                <div class="form-group col-8">
                    <label for="regunires">Regional da Unidade Requisitante</label>
                    <input type="text" id="regunires" name="regunires" class="form-control" placeholder="Regional da Unidade Requisitante" value="{{request.GET.regunires}}">
                </div>

                <div class="form-group col-8">
                    <label for="mununires">Município da Unidade Requisitante</label>
                    <input type="text" id="mununires" name="mununires" class="form-control" placeholder="Unidade Requisitante" value="{{request.GET.mununires}}">
                </div>

                <div class="form-group col-8">
                    <label for="uniex">Unidade de Exame</label>
                    <input type="text" id="uniex" name="uniex" class="form-control" placeholder="Unidade de Exame" value="{{request.GET.uniex}}">
                </div>

                <div class="form-group col-8">
                    <label for="tpres">Tipo da Requisição</label>
                    <select class="form-control js-example-basic-single" name="tpres" id="tpres">
                        <option value="">Selecione um Tipo de Requisição</option>
                        <option value="FAEP">FAEP</option>
                        <option value="EXPEDIENTE">EXPEDIENTE</option>
                        <option value="COMPLEMENTAR">COMPLEMENTAR</option>
                        <option value="ESCLARECIMENTO">ESCLARECIMENTO</option>
                        <option value="ESCLARECIMENTO_CDL">ESCLARECIMENTO_CDL</option>
                    </select>
                </div>

                <div class="form-group row">
                    <div class="form-group col-2">
                        <label for="page">Página</label>
                        <select class="form-control js-example-basic-single" style='font-weight:bold;' name="page">
                            <option style='font-weight:bold;' value="{{data.number}}">Atual: {{data.number}} </option>
                            {% for page in data.paginator.page_range %}
                                <option value="{{page}}">{{page}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <button class="btn shadow-none btn-success mt-4">
                            <i class="bi bi-search"></i> Pesquisar
                        </button>
                    </div>
                    <div class="col-3">
                        <a href="/ad-hoc" class="btn float-end btn-danger mt-4">
                            <i class="bi bi-eraser-fill"></i> Limpar
                        </a>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-4">
            <form name="tcol" onsubmit="return false">
                <h4>Campos </h4>
                <p>Seleciones os Campos desejados no relatório:</p>
                <div>
                    <input class="form-check-input" type=checkbox name="col1" onclick="toggleVis(this.name)" checked> Nº de Requisição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col2" onclick="toggleVis(this.name)" checked> Natureza
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col3" onclick="toggleVis(this.name)" checked> Ciência da Natureza
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col4" onclick="toggleVis(this.name)" checked> Espécie
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col18" onclick="toggleVis(this.name)" checked> Departamento da Unidade Requisitante
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col19" onclick="toggleVis(this.name)" checked> Regional da Unidade Requisitante
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col5" onclick="toggleVis(this.name)" checked> Município da Unidade Requisitante
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col6" onclick="toggleVis(this.name)" checked> Unidade de Exame
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col7" onclick="toggleVis(this.name)" checked> MASP
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col8" onclick="toggleVis(this.name)" checked> Tipo da Requisição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col9" onclick="toggleVis(this.name)" checked> Nº de Procedimento
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col10" onclick="toggleVis(this.name)" checked> Modelo do Laudo
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col11" onclick="toggleVis(this.name)" checked> Data de Requisição de Perícia
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col12" onclick="toggleVis(this.name)" checked> Data de Distribuição da Requisição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col13" onclick="toggleVis(this.name)" checked> Data de Redistribuição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col14" onclick="toggleVis(this.name)" checked> Data de Devolução da Requisição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col15" onclick="toggleVis(this.name)" checked> Data de Aceite da Requisição
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col16" onclick="toggleVis(this.name)" checked> Data de expedição do Laudo
                </div>
                <div>
                    <input class="form-check-input" type=checkbox name="col17" onclick="toggleVis(this.name)" checked> Tempo de Confecção do Laudo
                </div>
            </form>
        </div>
    </div>



    <h5 style="text-align:center"> Total de Registros da consulta: {{data.paginator.count}}</h5>
    <div id="div_table" class="table-responsive">
        <table id='Table_Data' class="table table-striped ">
            <thead>
                <tr>
                    <th name="tcol1" id="tcol1">Nº de Requisição</th>
                    <th name="tcol2" id="tcol2">Natureza</th>
                    <th name="tcol3" id="tcol3">Ciência da Natureza</th>
                    <th name="tcol4" id="tcol4">Espécie</th>
                    <th name="tcol4" id="tcol4">Classificação da Espécie</th>
                    <th name="tcol18" id="tcol18">Departamento da Unidade Requisitante</th>
                    <th name="tcol19" id="tcol19">Regional da Unidade Requisitante</th>
                    <th name="tcol5" id="tcol5">Município da Unidade Requisitante</th>
                    <th name="tcol6" id="tcol6">Unidade de Exame</th>
                    <th name="tcol7" id="tcol7">MASP</th>
                    <th name="tcol8" id="tcol8">Tipo da Requisição</th>
                    <th name="tcol9" id="tcol9">Nº de Procedimento</th>
                    <th name="tcol10" id="tcol10">Modelo do Laudo</th>
                    <th name="tcol11" id="tcol11">Data de Requisição de Perícia</th>
                    <th name="tcol12" id="tcol12">Data de Distribuição da Requisição</th>
                    <th name="tcol13" id="tcol13">Data de Redistribuição</th>
                    <th name="tcol14" id="tcol14">Data de Devolução da Requisição</th>
                    <th name="tcol15" id="tcol15">Data de Aceite da Requisição</th>
                    <th name="tcol16" id="tcol16">Data de expedição do Laudo</th>
                    <th name="tcol17" id="tcol17">Tempo de Confecção do Laudo</th>
                </tr>
            </thead>
            <tbody>
                {% for result in data %}
                <tr>
                    <td name="tcol1" id="tcol1">{{ result.nmr_requisicao }}</td>
                    <td name="tcol2" id="tcol2">{{ result.cod_natureza_exame}}</td>
                    <td name="tcol3" id="tcol3">{{ result.cod_natureza_exame.ciencia}}</td>
                    <td name="tcol4" id="tcol4">{{ result.cod_especie_exame}}</td>
                    <td name="tcol4" id="tcol4" style="text-align:center">{{ result.cod_especie_exame.sigla}}</td>
                    <td name="tcol5" id="tcol5">{{ result.cod_unidade_requisitante.geocodigo.cod_regional.cod_departamento.departamento}}</td>
                    <td name="tcol5" id="tcol5">{{ result.cod_unidade_requisitante.geocodigo.cod_regional.regional}}</td>
                    <td name="tcol5" id="tcol5">{{ result.cod_unidade_requisitante.geocodigo.municipio}}</td>
                    <td name="tcol6" id="tcol6">{{ result.cod_unidade_exame}}</td>
                    <td name="tcol7" id="tcol7">{{ result.masp_perito}}</td>
                    <td name="tcol8" id="tcol8">{{ result.tipo_requisicao}}</td>
                    <td name="tcol9" id="tcol9">{{ result.nmr_procedimento}}</td>
                    <td name="tcol10" id="tcol10">{{ result.cod_modelo_laudo}}</td>
                    <td name="tcol11" id="tcol11">{{ result.data_requisicao_pericia|date:"d/m/Y H:i"}}</td>
                    <td name="tcol12" id="tcol12">{{ result.data_distribuicao_requisicao|date:"d/m/Y H:i"}}</td>
                    <td name="tcol13" id="tcol13">{{ result.data_redistribuicao|date:"d/m/Y H:i"}}</td>
                    <td name="tcol14" id="tcol14">{{ result.data_devolucao_requisicao|date:"d/m/Y H:i"}}</td>
                    <td name="tcol15" id="tcol15">{{ result.data_aceite_requisicao|date:"d/m/Y H:i"}}</td>
                    <td name="tcol16" id="tcol16">{{ result.data_expedicao_laudo|date:"d/m/Y H:i"}}</td>
                    <td name="tcol17" id="tcol17">{{ result.tempo_confeccao_laudo}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script language="javascript">
    $(document).ready(function() {
        $('#Table_Data').DataTable({
            "pageLength": 100,
            dom: 'rt<"bottom row"<"col-4" B><"info col-4" i><"col-4" p>><"clear">',
            buttons: [
                'copy', 'excel', 'pdf', 'print'
            ]
        });
    });

    var showMode = 'table-cell';
    if (document.all) showMode = 'block';

    function toggleVis(btn) {
        btn = document.forms['tcol'].elements[btn];
        cells = document.getElementsByName('t' + btn.name);
        mode = btn.checked ? showMode : 'none';
        for (j = 0; j < cells.length; j++) cells[j].style.display = mode;
    }

    function Checkradiobutton() {
        if (document.getElementById('req').checked) {
            document.getElementById('datainireq').disabled = false;
            document.getElementById('datafimreq').disabled = false;
            document.getElementById('datainiexp').disabled = true;
            document.getElementById('datafimexp').disabled = true;
        } else {
            document.getElementById('datainireq').disabled = true;
            document.getElementById('datafimreq').disabled = true;
            document.getElementById('datainiexp').disabled = false;
            document.getElementById('datafimexp').disabled = false;
        }
    }
</script>
{% endblock %}