{% extends 'base.html' %} {% block title %} Relatorio {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1 id='name' style="text-align: center">Relatório de Peritos</h1>
    <br>
    <form method="get" id='search-form'>
        <div class="row offset-1">
            <div class="col-2">
                <label for="dataini">Data de início </label>
                <input type="date" class="form-control" id="dataini" name="dataini" placeholder="Data de início" value="{{request.GET.dataini}}">
            </div>
            <div class="col-2">
                <label for="datafim">Data de fim </label>
                <input type="date" class="form-control" id="datafim" name="datafim" placeholder="Data de fim" value="{{request.GET.datafim}}">
            </div>
            <div class="col-8" style="margin-top: 25px;">
                <label class="form-check-label" for="all">Todos </label>
                <input type="radio" class="form-check-input" value='All' id="all" checked="checked" name='Qtde' onclick="Checkradiobutton()">
                <label class="form-check-label" for="ten" style="margin-left: 25px;">Top 10 </label>
                <input type="radio" class="form-check-input" value='Ten' id="ten" name='Qtde' onclick="Checkradiobutton()">
                <label class="form-check-label" for="other" style="margin-left: 25px;">Um MASP </label>
                <input type="radio" class="form-check-input" name="Qtde" id="other" value="Other" onclick="Checkradiobutton()" />
                <input type="text" id="uma" placeholder="MASP" name="uma" disabled='true' style="margin-left: 15px;" />
                <i id="search-btn" class="bi bi-search " style="margin-left: 25px;"></i>
            </div>
        </div>
    </form>
    <br>
    <div id="container" style="width: 100%;">
        <div id="coluna"></div>
    </div>

</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
    data = jQuery.parseJSON('{{data|safe}}')
    labels = jQuery.parseJSON('{{labels|safe}}')
    Highcharts.chart('coluna', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Gráfico de Quantidade de Laudos registrados X Perito Responsável'
        },

        xAxis: {
            categories: labels,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Qtde de Laudos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:13px; font-weight: bold;">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:1"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.1,
                borderWidth: 0
            }
        },
        series: [{
            color: '#068d9d',
            name: 'Quantidade de Registros',
            data: data
        }]
    });

    function Checkradiobutton() {
        if (document.getElementById('all').checked || document.getElementById('ten').checked) {

            document.getElementById('uma').disabled = true;
        } else {
            document.getElementById('uma').disabled = false;
        }
    }
</script>

{% endblock %}