{% extends 'base.html' %} {% block title %} Create de Municipio {% endblock %} {% load crispy_forms_tags %} {% block content %}

<div class="offset-1 col-10">
    <h1>Adicionar novo Município:</h1>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="col-md-5">
            {{form.geocodigo|as_crispy_field}} {{form.municipio|as_crispy_field}} {{form.cod_regional|as_crispy_field}} 
        </div>
        <button type="submit" class="btn btn-success"><i class="bi bi-upload"></i> Enviar </button>
    </form>
</div>
{% endblock %}