{% extends 'base.html' %} {% block title %} Edit de Unidade de Exame {% endblock %} {% load crispy_forms_tags %} {% block content %}

<div class="offset-1 col-10">
    <h1>Editar a Unidade de Exame:</h1>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="col-md-5">
            {{form.comarca_da_unidade|as_crispy_field}}
        </div>
        <button type="submit" class="btn btn-success"><i class="bi bi-upload"></i> Enviar </button>
    </form>
</div>
{% endblock %}