{% extends 'base.html' %} {% block title %} Lista de Unidades de Exame {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1 id='name'>Lista de Unidades de Exame</h1>

    <a id="add-link" href="novaUniexa/">
        <div class="col-3 add-div">
            <i class="bi bi-plus-square"></i> Nova Unidade de Exame
        </div>
    </a>
    <div class="col-8 search-div">
        <form method="get" id='search-form'>
            <input type="text" id="search" name="search" placeholder="Comarca" size="80px" value="{{request.GET.search}}">
            <i id="search-btn" class="bi bi-search "></i>
        </form>
    </div>


    <div id="div_table">
        <table id='table' class="table table-striped ">
            <tr>
                <th>Codigo da Unidade</th>
                <th>Unidade Pericial</th>
                <th id="edit_col ">Editar</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{ result.cod_unidade_exame }}</td>
                <td>{{ result.comarca_da_unidade }}</td>
                <td id="edit_col ">
                    <a href="{% url 'uniexa-update' result.cod_unidade_exame %} " class="btn edit-link ">
                        <i class="bi bi-pencil-square "></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button class='btn btn-success' id='downloadcsv'>CSV <i class="bi bi-file-earmark-arrow-down-fill"></i></button>
</div>
{% endblock %}