{% extends 'base.html' %} {% block title %} Lista de Unidades de Exame {% endblock %} {% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Lista de Unidades de Exame</h1>
    <div class="col-3 add-div">
        <i class="bi bi-plus-square"></i> Nova Unidade de Exame
    </div>
    <div class="col-8 search-div">
        <input type="text" id="search" name="search" placeholder="Nome da Unidade" size="80px">
        <i class="bi bi-search"></i>
    </div>


    <div id="div_table">
        <table class="table table-striped">
            <tr>
                <th>Codigo da Unidade</th>
                <th>Comarca da Unidade</th>
                <th id="edit_col">Editar</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{ result.cod_unidade_exame }}</td>
                <td>{{ result.comarca_da_unidade }}</td>
                <td id="edit_col"><i class="bi bi-pencil-square"></i></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}