{% extends 'base.html' %} {% block title %} Home Page {% endblock %} {% block content %}{% load static %}
<div class="offset-1 col-10 list-div">
    <h1>Bem-vindo à Plataforma Integrada de Laudos Periciais de Minas Gerais</h1>
    <p>Sistemas de Apoio à Decisão (SADs) são sistemas computacionais que auxiliam pessoas a tomarem decisões inteligentes e bem-informadas. No caso da segurança pública os SADs podem subsidiar estratégias de inteligência policial por meio de ferramentas
        para a análise criminal.</p>
    <p>A plataforma integrada de laudos periciais de Minas Gerais objetiva facilitar a análise dos registros de laudos periciais disponíveis no PCNet por meio da integração e disponibilização de seus dados. É um sistema ainda acadêmico e em teste. O banco
        de dados possui registros de laudos entre as datas xxx e xxx. Ao todo são xxx registros que foram importados a partir das planilhas mensais em CSV disponibilizadas no PCNet.</p>
    <p>Convidamos você a nos ajudar testá-lo e melhorá-lo.</p>
    <p>Caso precise rever o vídeo de apresentação do sistema, ele está disponível abaixo.</p>
    <p>Muito Obrigado!</p>
    <p>Equipe UNIFEI</p>

    <img src="{% static 'assets/logo_IMC.png' %}" alt="bldasijdiasjd">
</div>
{% endblock %}